.banner{
	background-image: linear-gradient(-225deg, goldenrod 0%, rgba(0, 0, 0, 0.4) 35%) ,url(../../images/banner.png);
	color:palegoldenrod;
	padding: 50px 0px;
	background-position: center;
	background-size:cover;
	image-resolution: !important;
}

.banner h1{
	Font-size: 60px;
	margin-top: 310px;
	margin-bottom:90px;

}

.banner h2{
	Font-size: 40px;
	font-weight:light;
	margin-bottom: 40px;
}
.banner h1,h2{
	width: 800px;
	text-justify: justify;
	text-align: left;
}